.whiteboard-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: grey;
}

.drawing-section {
    width: 90%;
    height: 90%;
    background-color: white;
    margin: auto;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../images/bgImg.jpg');
    background-position-y: 60%;
    background-position-x: 50%;
    /* background-position: center; */
    background-size: cover;
}

.temp {
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); */
    max-width: 615px;
    padding-bottom: 66px;
    padding-top: 46px;
    text-align: center;
    width: 90%;
}

.formGroup {
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}

.userIn > input{
    margin-bottom: 20px;
    /* background: #f2f2f5; */
    background: #f9f9fc;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    color: #676767;
    font-size: 16px;
    height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: all 0.3s;
}

.userIn > label {
    color: black;
    display: inline-block;
    margin-bottom: 5px;
    /* text-transform: uppercase; */
    padding-right: 30px;
}

.userIn > label,
.userIn > input {
  /* font-family: 'Roboto', sans-serif; */
  max-width: 420px;
  text-align: left;
  width: 70%;
}

.primaryButton {
    /* background-color: rgb(46, 29, 201); */
    background-color: #e02d34;
    /* margin-top: 30px; */
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    width: 74%;
}

.secondayButton {
    /* background-color: aquamarine; */
    border-radius: 5px;
    border: none;
    color: #e02d34;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    width: 40%;
    background: white;
}

.primaryButton:hover {
    background: #d1232a;
}

.secondayButton:hover {
    background: #f1f0f0;
}

.backimg{
    background-image: url('../../../../images/bgImg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.wrapper .sidebar {
    background: #e02d34;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul li {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #e02d34;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

/* .wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
} */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wrapper .sidebar ul li:hover {
    background:#bb2228;

}

.wrapper .mainMenu {
    width: calc(100%-250px);
    margin-left: 250px;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.wrapper .sidebar .cuLogo{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .cuLogo img{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.wrapper .sidebar .cuLogo h2{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .logout {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.col1 {
    text-align: center;
    width: 500px;
    height: 40px;
}

.col2 {
    text-align: center;
    width: 200px;
    height: 40px;
}

.col3 {
    text-align: center;
    width: 200px;
    height: 40px;
}

.col4 {
    text-align: center;
    width: 200px;
    height: 40px;
}

.col5 {
    text-align: center;
    width: 200px;
    height: 40px;
}

#incorrectInput {
    color: rgb(240, 0, 0);
    margin-bottom: 10px;
}